update_libvpx.sh filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
generate_config.sh filter=lfs diff=lfs merge=lfs -text
libvpx filter=lfs diff=lfs merge=lfs -text
libwebm filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
PREUPLOAD.cfg filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
Android.mk filter=lfs diff=lfs merge=lfs -text
config filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
Android.bp.in filter=lfs diff=lfs merge=lfs -text
exports.lds filter=lfs diff=lfs merge=lfs -text
libvpx_blocklist.txt filter=lfs diff=lfs merge=lfs -text
lint_config.sh filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
